.container {  display: grid;
  height: 170px;
  width: 450px;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 30px 30px 130px 30px 20px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "LabelTitle"
    "SwitchFunction"
    "ComboOptions"
    "Buttons"
    "footer";
}

.header { grid-area: header; border-bottom: 1px solid }

.LabelTitle { grid-area: LabelTitle; }

.SwitchFunction {  display: grid;
  grid-template-columns: 0.8fr 1fr 1.4fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "tts butontts comandoV butoncomandoV";
  grid-area: SwitchFunction;
}

.tts { grid-area: tts; }

.butontts { grid-area: butontts; }

.comandoV { grid-area: comandoV; }

.butoncomandoV { grid-area: butoncomandoV; }

.ComboOptions {  display: grid;
  grid-template-columns: 0.4fr 1.2fr 0.3fr 2.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "padding idiomas padding2 voces";
  grid-area: ComboOptions;
}

.padding { grid-area: padding; }

.idiomas { grid-area: idiomas; }

.voces { grid-area: voces; }

.padding2 { grid-area: padding2; }

.Buttons {  display: grid;
  grid-template-columns: 0.4fr 1.1fr 0.9fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "padding3 pruebaVoz padding4 apply";
  grid-area: Buttons;
}

.padding3 { grid-area: padding3; }

.pruebaVoz { grid-area: pruebaVoz; }

.padding4 { grid-area: padding4; }

.apply { grid-area: apply; }

.footer { grid-area: footer; border-top: 1px solid}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}